{{>header}}
{{>nav}}
<section class="my-5 container">
    <form action="/addLogicbook" method="post">
        <div class="mb-3">
            <label>Name Book :</label>
            <input class="form-control" name="name_book" placeholder="name-book">
        </div>
        <div class="mb-3">
                <label>Name Author :</label>
            <input class="form-control" name="name_author" placeholder="name-author">
        </div>
        <div class="mb-3">
            <input class="form-control" name="dueData" placeholder="dueDate" type="date">
        </div>
        <div class="mb-3">
                <label>Pages :</label>
            <input class="form-control" name="num_pages" placeholder="num-pages">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add Book</button>
        </div>
    </form>
</section>
{{>footer}}